<app-title title="Defer Option on tigger"/>

<section>
    <h1  class="text-xl">Interacciones</h1>
    <hr class="my-2">

    @defer (on interaction) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>On interacions</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            click div
        </div>  
    }
</section>



<section>
    <button #btnInteraction class="">
     click me!
    </button>
    <hr class="my-2">

    @defer (on interaction (btnInteraction)) {
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>On interacions</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            click div
        </div>  
    }
</section>


<section>
    <hr class="my-2">
    @defer (on hover (btnInteraction)) {
        <app-heavy-loaders-fast cssClass="bg-orange-500 h-20">
            <span>On interacions</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            click div hover buttton
        </div>  
    }
</section>



<section>
    <hr class="my-2">

    @defer (on hover) {
        <app-heavy-loaders-fast cssClass="bg-red-500 h-20">
            <span>On interacions</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            click div hover
        </div>  
    }
</section>




<section>
    <hr class="my-2">

    @defer (on timer(2000)) {
        <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
            <span>On time</span>
        </app-heavy-loaders-fast>
    }@placeholder {
        <div class="w-full h-20 bg-purple-100">
            click div time
        </div>  
    }
</section>




